/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

/* Título principal */
#titulo-principal {
  color: navy;
  text-align: center;
}

/* Párrafo de descripción */
.descripcion {
  color: #333;
  font-size: 16px;
  text-align: center;
}

.card {
  background-color: white;
  margin: 20px auto;
  padding: 20px;
  width: 80%;
  border-radius: 8px;
}

ul {
  list-style-type: square;
}

li {
  margin-bottom: 8px;
}
.boton {
  display: inline-block;
  background-color: navy;
  color: white;
  padding: 10px 15px;
  text-decoration: none;
  border-radius: 5px;
}

.boton:hover {
  background-color: darkorange;
}
